
//fonts
$mons: 'Montserrat', sans-serif;
$font: 'Raleway', sans-serif;

//color
$back: #FFFBED;
$dblue: #022563;
$lblue: #043CA1;
$dstar: #FFCD1A;
$lstar: #FBE494;
$lslider: #829CC7;
$larrow: rgba(2, 37, 99, 0.5);
$footer: #CCCCCC;
$white: #fff;
$black: #000;