.btn {
    transition: all .5s;
    font: 700 16px/19px $font;
    border-radius: 0;

    &--header {
        padding: 25px 38px;
        background-color: $dblue;
        color: $white;
        border-radius: 0;
        border: 1px solid transparent;
        margin: 0 auto;
    }

    &--feedback {
        border: 1px solid rgba(4, 60, 161, 1);
        padding: 26px 27px;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: rgba(2, 37, 99, 1);
        white-space: nowrap;
    }


    @media (min-width: 768px) {
        &:hover {
            border-radius: 0;
            border: 1px solid transparent;
            text-decoration: none;
            box-shadow: 8px 8px 0 #000, 0 0 0 #fff, -8px -8px 0 #eb452b;
            background-color: $white;

        }
    }
}