* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body,
html {
	min-height: 100%;
	width: 100%;
}

// Main styles
body {
	font: 400 18px/16px $font;
	background-color: $back;
}

.container--wrap {
	max-width: 1310px;
	padding-top: 1px;
}

.container--gallery {

	@media (max-width: 768px) {
		padding: 0;
	}
}

.logo {
	font-size: 30px;

	&--footer {
		font-size: 85px;
		margin-bottom: 20px;
	}

	.icon-globe-1 {
		background: linear-gradient(34.22deg, #4EADDB 44.23%, rgba(255, 255, 255, 0) 86.09%), #9CB3DC;
		color: #105a80;
		border-radius: 50px;
		margin-left: 5px;
		transition: all .7s;
		box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .5);
	}

	.icon-Ind {
		color: $white;
	}


	&:hover {
		text-decoration: none;

		.icon-globe-1 {
			color: transparent;
			background: $white;
			background: linear-gradient(180deg, rgba(235, 69, 43, 1) 0%, rgba(235, 69, 43, 1) 45%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 1) 100%);
			//box-shadow: 0px 15px 0 #000, 0 0 0 #fff, 0px -15px 0 #eb452b;

			//&--header {
			//box-shadow: 0px 5px 0 #000, 0 0 0 transparent, 0 -5px 0 #eb452b;
			//}
		}


	}
}