.tours {
    background-color: $back;
    color: $dblue;
    padding-top: 60px;
    padding-bottom: 1px;
    
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px; 
    }

    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 45px;

        @media (min-width: 768px) {
            font-size: 42px;
            line-height: 65px;
        }
    }

    &__link {
        font-size: 16px;
        line-height: 16px;
        text-decoration: underline;
        color: $dblue;
        font-weight: 400;

        @media (min-width: 768px) {
        font-size: 24px;
        line-height: 52px;
        }
        
    }
}